.App {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}
.App__header {
  display: flex;
  justify-content: space-evenly;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  align-items: center;
}

.App__navbar {
  margin: 0 20px;
}
.Logo {
  width: 75%;
}
.Logo img {
  height: 100%;
  width: 100%;
  max-height: 100px;
  max-width: 200px;
}
.App__header ul {
  display: flex;
  list-style: none;
}
.App__header ul a {
  margin: 10px;
  text-decoration: none;
  font-size: 18px;
  border: none;
  outline: none;
  color: #222;
  font-weight: bold;
  cursor: pointer;
  transition: all 1s;
}
.App__header ul a:hover {
  color: #821623;
}
hr {
  height: 16px;
  background-color: #222;
  border: none;
  border-radius: 10px;
}
.Footer {
  background-color: rgba(16, 16, 16, 0.92);
  color: #fff;
  text-align: center;
  padding: 50px;
  width: 90%;
  margin: 50px auto 0 auto;
  border-radius: 10px;
}
